{% extends "base.html" %}
{% block content %}
<header class=" py-5">
            
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-black-50 mb-0">Wellcome to COOLMATE</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <p align="justify">
                </p>
                <br><br>

            </div>
        </center>
    </div>
</div>
{% endblock %}